body {
    background-repeat: no-repeat;
    background-position: center;
}


// マイページ
h2 {
    margin: 10px 0 40px 0;
}

.btn-1 {
    width: 150px;
    height: 45px;
    font-size: 15px;
    padding: 11px 0;
    margin: 30px 0 15px 0;
    background-color: rgb(214, 166, 174);
    color: #fff;
    box-shadow:  0 2px 6px rgba(146, 146, 146, 0.8);
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.btn-1:hover {
    background-color: rgb(207, 117, 132);
}

h4 {
    margin: 40px 0 20px 0;
}

.title-label {
    width: 200px;
    padding: 8px 0;
    font-weight: bold;
}

.search-box1 {
    padding-right: 0;
}

.search-btn {
    background-color: rgb(214, 166, 174);
    color: #fff;
    box-shadow:  0 2px 6px rgba(146, 146, 146, 0.8);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    width: 60px;
}

.search-btn:hover {
    background-color: rgb(207, 117, 132);
}

.table-catalog {
    background-color: #fff;
    color: rgb(61, 43, 32);
    border: 1px solid #d6c6be;

    thead {
        background-color: #5f4436;
        color: #fff;
    }

    tbody {

        tr {
            border: 1px solid #d6c6be;
        }
    }

    .btn {
        padding: 8px 20px;
        text-decoration: none;
        background-color: #d6c6be;
        color: rgb(87, 62, 46);
        font-weight: bold;
        margin: 6px 0;
        padding: 7px 20px;
    }

    .btn:hover {
        background-color: #be9f91;
    }
}


// 投稿ページ
.image-boxes {
    margin-bottom: 30px;

    .image-box1, .image-box2, .image-box3 {
        background-image: url(/images/lady_icon.png?2e0dc4e2d2be745f45a3a5310b00a9bf);
        background-size:255px 255px;
        background-color: rgba(153, 153, 153, 0.801);
        width: 255px;
        height: 255px;
        margin-bottom: 0;
        cursor: pointer;
    }

    .image-box1 input[type=file], .image-box2 input[type=file], .image-box3 input[type=file] {
        opacity: 0;
    }
}

.remove-box {
    width: 255px;
    margin: auto;
    margin-bottom: 20px;

    .remove-btn {
        background-color: #ccbab0;
        color: rgb(87, 62, 46);
        box-shadow:  0 2px 6px rgba(146, 146, 146, 0.8);
        font-size: 14px;
        font-weight: bold;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        width: 115px;
        height: 33px;
        margin-left: 70px;
        margin: 7px 0;
        padding: 6px 11px;
    }

    .remove-btn:hover {
        background-color: #be9f91;
    }
}

.labels {
    color: rgb(61, 43, 32);
    font-weight: bold;
    padding: 5px 0;
}

.checkbox {
    margin-right: 7px;
    margin-left: 17px;

    .check_box {
        margin-right: 5px;
    }
}

.button {
    background-color: rgb(214, 166, 174);
    color: #fff;
    box-shadow:  0 2px 6px rgba(146, 146, 146, 0.8);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    width: 80px;
}

.button:hover {
    background-color: rgb(207, 117, 132);
}




.form-group-profile {
    margin-top: 60px;
    margin-bottom: 40px;
}

.name-box {
    padding-top: 90px;
}

.image-box {
    padding-left: 50px;
}

.name-label {
    padding-left: 15px;
    font-weight: bold;
}

.intro-label {
    padding-left: 50px;
    font-weight: bold;
}

.btn-pri {
    margin-left: 55px;
}

.image-btn {
    margin-top: 10px;
    margin-left: 23px;
    padding: 10px;
    border-radius: 4px;
    width: 200px;
    text-align: center;
    display: block;
    background-color: rgb(247, 179, 190);
    color: #fff;
    box-shadow:  0 2px 6px rgba(146, 146, 146, 0.8);
    cursor: pointer;
    float: left;
}

.img1 {
    background-image: url('../../public/images/default_profile_icon.png');
    background-size: 270px 255px;
    width: 280px;
    height: 255px;
}

a {
    color: #fff;
}

