body {
    background-repeat: no-repeat;
    background-position: center;
}


// マイページ
h2 {
    margin: 10px 0 40px 0;
}

.btn-1 {
    width: 150px;
    height: 45px;
    font-size: 15px;
    padding: 11px 0;
    margin: 30px 0 15px 0;
    background-color: rgb(214, 166, 174);
    color: #fff;
    box-shadow:  0 2px 6px rgba(146, 146, 146, 0.8);
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.btn-1:hover {
    background-color: rgb(207, 117, 132);
}

h4 {
    margin: 40px 0 20px 0;
}

//検索ボックス
.title-desc-label {
    width: 200px;
    padding: 8px 0;
    font-weight: bold;
}

.search-box1 {
    padding-right: 0;
}

.search-btn {
    background-color: rgb(214, 166, 174);
    color: #fff;
    box-shadow:  0 2px 6px rgba(146, 146, 146, 0.8);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    width: 60px;
}

.search-btn:hover {
    background-color: rgb(207, 117, 132);
}

//投稿一覧のテーブル
.table-catalog {
    background-color: #fff;
    color: rgb(61, 43, 32);
    border: 1px solid #d6c6be;

    thead {
        background-color: #5f4436;
        color: #fff;

        .image {
            padding-left: 50px;
        }

        .dated_at {
            font-size: 13px;
            padding-left: 40px;
        }
    }

    tbody {

        tr {
            border: 1px solid #d6c6be;

            .dated_at {
                font-size: 13px;
                vertical-align: middle;
                padding: 12px 7px;
                text-align: center;
            }


            .btn-boxes {
                padding: 12px 0 12px 12px;

                .btn-box {
                    width: 75px;
                    margin-right: 0;

                    .btn {
                        padding: 8px 20px;
                        text-decoration: none;
                        background-color: #d6c6be;
                        color: rgb(87, 62, 46);
                        font-weight: bold;
                        margin: 6px 0;
                        padding: 7px 20px;
                    }

                    .btn:hover {
                        background-color: #be9f91;
                    }
                }
            }
        }
    }
}

.pagination {
    justify-content: center;

    .page-item.active  .page-link {
        background-color: #5f4436 !important; /* 背景色を変える */
        border: 1px solid #5f4436; /* ボーダーの色を変える */
    }

    li a {
        background-color: #fff; /* 背景色を変える */
        color: rgb(61, 43, 32) !important; /* 数字の色を変える */
    }
}


// 投稿ページ
.image-boxes {
    margin-bottom: 30px;

    .image-box1, .image-box2, .image-box3 {
        background-image: url(/images/lady_icon.png?2e0dc4e2d2be745f45a3a5310b00a9bf);
        background-size:255px 255px;
        background-color: rgba(153, 153, 153, 0.801);
        width: 255px;
        height: 255px;
        margin-bottom: 0;
        cursor: pointer;
    }

    .image-box1 input[type=file], .image-box2 input[type=file], .image-box3 input[type=file] {
        opacity: 0;
    }
}

.remove-box {
    width: 255px;
    margin: auto;
    margin-bottom: 20px;

    .remove-btn {
        background-color: #ccbab0;
        color: rgb(87, 62, 46);
        box-shadow:  0 2px 6px rgba(146, 146, 146, 0.8);
        font-size: 14px;
        font-weight: bold;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        width: 115px;
        height: 33px;
        margin-left: 70px;
        margin: 7px 0;
        padding: 6px 11px;
    }

    .remove-btn:hover {
        background-color: #be9f91;
    }
}

.labels {
    color: rgb(61, 43, 32);
    font-weight: bold;
    padding: 5px 0;
}

.checkbox {
    margin-right: 7px;
    margin-left: 17px;
    color: rgb(61, 43, 32);

    .check_box {
        margin-right: 5px;
    }
}

.button {
    background-color: rgb(214, 166, 174);
    color: #fff;
    box-shadow:  0 2px 6px rgba(146, 146, 146, 0.8);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    width: 80px;
    margin-left: 48px;
}

.button:hover {
    background-color: rgb(207, 117, 132);
}


//プロフィールページ
.profile-box {
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 40px;

    .image-box {
        padding: 0 35px;
        width: 280px;
        height: 280px;
        border: none;

        img {
            background-image: url(/images/default_profile_icon.png);
            background-size:283px 280px;
            background-position: center;
            background-size: contain;
            background-color: rgba(153, 153, 153, 0.801);
            width: 280px;
            height: 283px;
            margin-bottom: 0;
            border-radius: 20px;
            border: 6px solid #d8c0b4;
        }
    }

    .name-box {
        padding-top: 50px;
        padding-left: 30px;

        .name-text {
            font-weight: bold;
            font-size: 27px;
        }

        .name-label {
            font-weight: bold;
            margin-top: 40px;
            // font-size: 27px;
        }
    }

    .intro-box {
        padding-top: 60px;
        padding-left: 30px;

        .intro-text {
            font-size: 16px;
            width: 800px;
        }

        .intro-label {
            font-weight: bold;
        }
    }

    .edit-btn-box {
        margin: 13px 0 0 36px;

        .edit-btn {
            background-color: rgb(214, 166, 174);
            color: #fff;
            box-shadow:  0 2px 6px rgba(146, 146, 146, 0.8);
            cursor: pointer;
            border-radius: 4px;
            border: none;
            width: 245px;
        }

        .edit-btn:hover {
            background-color: rgb(207, 117, 132);
        }
    }
}

.h4-label {
    margin: 50px 0 0 10px;
}

.style-list {
    margin-top: 0;
    margin-left: 5px;

    .style {
        background-color: #fff;
        border: 4px solid #d6c3ba;
        margin: 20px 28px;
        padding: 0 0 30px 7px;

        .image {
            margin-top: 18px;
        }

        .title-label {
        width: 255px;
        text-align: center;
        padding-top: 10px;
        font-size: 15px;
        color: rgb(61, 43, 32);
        }
    }

    .more-btn {
        background-color: rgb(214, 166, 174);
        color: #fff;
        box-shadow:  0 2px 6px rgba(146, 146, 146, 0.8);
        cursor: pointer;
        border-radius: 4px;
        border: none;
        width: 70px;
    }

    .more-btn:hover {
        background-color: rgb(207, 117, 132);
    }
}

.profile-box1 {
    margin-top: 15px;
    margin-bottom: 40px;
    margin-left: 40px;

    .image-box {
        background-image: url(/images/default_profile_icon.png);
        background-size:285px 280px;
        background-position: 50% 5%;
        // background-size: contain;
        background-color: rgba(153, 153, 153, 0.801);
        // background-repeat: no-repeat;
        width: 280px;
        height: 285px;
        margin-bottom: 0;
        margin-top: 10px;
        cursor: pointer;
        border-radius: 20px;
        border: 6px solid #d8c0b4;
    }

    .image-box input[type=file] {
        opacity: 0;
    }

    .remove-box {
        width: 280px;
        margin: 0;

        .remove-btn {
            background-color: #ccbab0;
            color: rgb(87, 62, 46);
            box-shadow:  0 2px 6px rgba(146, 146, 146, 0.8);
            font-size: 14px;
            font-weight: bold;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            width: 130px;
            height: 33px;
            margin: 7px 0 7px 75px;
            padding: 6px 11px;
        }

        .remove-btn:hover {
            background-color: #be9f91;
        }
    }

    .name-box {
        padding-top: 50px;

        .name-label {
            font-weight: bold;
            margin-top: 40px;
            // font-size: 27px;
        }
    }
}

.profile-box2 {
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 40px;

    .intro-label {
        font-weight: bold;
        margin-top: 2px;
        margin-left: 10px;
    }

    .form-control {
        padding-right: 20px;
    }
}

.update-btn {
    margin-left: 140px;
    background-color: rgb(214, 166, 174);
    color: #fff;
    box-shadow:  0 2px 6px rgba(146, 146, 146, 0.8);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    width: 80px;
}

.update-btn:hover {
    background-color: rgb(207, 117, 132);
}

