// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    color: rgb(61, 43, 32);;
    background-color: #fdfaec;
}

.navbar-laravel {
    background-color: #5f4436;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    height: 60px;

    .navbar-brand {
        color: #fff !important;
        letter-spacing: 1px;

        .logo-icon {
            width: 25px;
            height: 25px;
            margin-right: 2px;
            margin-bottom: 4px;
        }
    }
}

.nav-link {
    color: #fff !important;
    margin-left: 4px;

    .logo-icon2 {
        width: 25px;
        height: 25px;
        margin-top: 9px;
    }
}

.nav-links {
    color: #fff !important;
    margin-right: 100px;
}

.nav-links:hover {
    text-decoration: none;
}

.header {
    .logo {
        width: 120px;
        height: 82px;
    }
}

.headline {
    .caption {
        position: relative;
        width: 350px;
        .image {
            img {
                width: 100%;
            }
        }
        .title {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.6);
            h1 {
                color: #fff;
                font-size: 1.2em;
            }
        }
        .body {
            font-size: 0.8em;
        }
    }
}

.posts {
    .post {
        .date {
            font-size: 0.6em;
            color: #999999;
        }
        .title {
            font-size: 1.2em;
            font-weight: bold;
        }
        .body {
            font-size: 0.8em;
        }
        .image {
            img {
                width: 250px;
            }
        }
    }
}

.dropdown-menu {
    background-color: #5f4436;
    margin-top: -2px;

    .dropdown-item {
        background-color: #5f4436;
        color: #fff;
    }

    .dropdown-item:hover {
        opacity: 0.5;
    }
}

.card1 {
    margin-top: 60px;
    margin-bottom: 15px;
    height: 315px;
    background-color: #fff;
    border: 1px solid rgb(235, 204, 204);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card2 {
    margin-top: 60px;
    margin-bottom: 15px;
    height: 700px;
    background-color: #fff;
    border: 1px solid rgb(235, 204, 204);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-header {
    background-color: rgb(235, 204, 204);
    font-weight: bold;
    border-bottom: transparent;
}

.user-name {
    height: 60px;

    p {
        line-height: 60px;
        color:#fff;
        font-weight: bold;
        font-size: 15px;
        width: 100px;
    }
}

.form-group1 {
    margin-top: 9px;
    margin-bottom: 20px;

    .button {
        background-color: rgb(214, 166, 174);
        color: #fff;
        box-shadow:  0 2px 6px rgba(146, 146, 146, 0.8);
        cursor: pointer;
        border-radius: 4px;
        border: none;
        width: 90px;
    }

    .button:hover {
        background-color: rgb(207, 117, 132);
    }

    .button1 {
        background-color: rgb(214, 166, 174);
        color: #fff;
        box-shadow:  0 2px 6px rgba(146, 146, 146, 0.8);
        cursor: pointer;
        border-radius: 4px;
        border: none;
        width: 90px;
        margin-left: 120px;
    }

    .button1:hover {
        background-color: rgb(207, 117, 132);
    }
}
