.navbar-brand {
    color: #fff !important;
    letter-spacing: 1px;
}

.nav-link {
    color: #fff !important;
    margin-left: 4px;
}

.header {
    .logo {
        width: 120px;
        height: 82px;
    }
}

.headline {
    .caption {
        position: relative;
        width: 350px;
        .image {
            img {
                width: 100%;
            }
        }
        .title {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.6);
            h1 {
                color: #fff;
                font-size: 1.2em;
            }
        }
        .body {
            font-size: 0.8em;
        }
    }
}

.posts {
    .post {
        .date {
            font-size: 0.6em;
            color: #999999;
        }
        .title {
            font-size: 1.2em;
            font-weight: bold;
        }
        .body {
            font-size: 0.8em;
        }
        .image {
            img {
                width: 250px;
            }
        }
    }
}

.tag-group {
    // border: thick double #32a1ce;
    margin-top: 50px;
    color: rgb(61, 43, 32);

    .tag-label {
        background-color: rgb(235, 204, 204);
        width: 200px;
        height: 40px;
        padding-top: 8px;
        font-weight: bold;

        border-bottom: transparent; /* 下辺を透明に */
        border-top-left-radius: 8px; /* 左上を角丸に */
        border-top-right-radius: 8px; /* 右上を角丸に */

        margin-bottom: -1px;

        position: relative;
        text-align: center;
    }

    .tag-area {
        background-color: #fff;
        width: 1050px;
        height: 150px;
        border: 1px solid rgb(235, 204, 204);

        .checkbox {
            margin-left: 30px;
            margin-top: 45px;

            .check_box {
                margin-right: 5px;
            }
        }

        .tag-btn {
            background-color: rgb(214, 166, 174);
            color: #fff;
            box-shadow:  0 2px 6px rgba(146, 146, 146, 0.8);
            cursor: pointer;
            border-radius: 4px;
            border: none;
            width: 70px;
        }

        .tag-btn:hover {
            background-color: rgb(207, 117, 132);
        }
    }
}

.style-list {
    margin-top: 80px;

    .style {
        border: 6px solid rgb(202, 198, 198);
        margin: 20px;
        padding: 0 5px 40px 5px;

        .title-label {
        width: 255px;
        text-align: center;
        padding-top: 10px;
        font-size: 15px;
        color: rgb(61, 43, 32);
        }
    }
}
