body {
  background-repeat: no-repeat;
  background-position: center;
}

h2 {
  margin: 10px 0 40px 0;
}

.btn-1 {
  width: 150px;
  height: 45px;
  font-size: 15px;
  padding: 11px 0;
  margin: 30px 0 15px 0;
  background-color: #d6a6ae;
  color: #fff;
  box-shadow: 0 2px 6px rgba(146, 146, 146, 0.8);
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.btn-1:hover {
  background-color: #cf7584;
}

h4 {
  margin: 40px 0 20px 0;
}

.title-label {
  width: 200px;
  padding: 8px 0;
  font-weight: bold;
}

.search-box1 {
  padding-right: 0;
}

.search-btn {
  background-color: #d6a6ae;
  color: #fff;
  box-shadow: 0 2px 6px rgba(146, 146, 146, 0.8);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  width: 60px;
}

.search-btn:hover {
  background-color: #cf7584;
}

.table-catalog {
  background-color: #fff;
  color: #3d2b20;
  border: 1px solid #d6c6be;
}

.table-catalog thead {
  background-color: #5f4436;
  color: #fff;
}

.table-catalog tbody tr {
  border: 1px solid #d6c6be;
}

.table-catalog .btn {
  padding: 8px 20px;
  text-decoration: none;
  background-color: #d6c6be;
  color: #573e2e;
  font-weight: bold;
  margin: 6px 0;
  padding: 7px 20px;
}

.table-catalog .btn:hover {
  background-color: #be9f91;
}

.image-boxes {
  margin-bottom: 30px;
}

.image-boxes .image-box1,
.image-boxes .image-box2,
.image-boxes .image-box3 {
  background-image: url(/images/lady_icon.png?2e0dc4e2d2be745f45a3a5310b00a9bf);
  background-size: 255px 255px;
  background-color: rgba(153, 153, 153, 0.801);
  width: 255px;
  height: 255px;
  margin-bottom: 0;
  cursor: pointer;
}

.image-boxes .image-box1 input[type=file],
.image-boxes .image-box2 input[type=file],
.image-boxes .image-box3 input[type=file] {
  opacity: 0;
}

.labels {
  color: #3d2b20;
  font-weight: bold;
  padding: 5px 0;
}

.remove-box {
  width: 255px;
}

.remove-btn {
  background-color: #d6a6ae;
  color: #fff;
  box-shadow: 0 2px 6px rgba(146, 146, 146, 0.8);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  width: 110px;
  height: 35px;
  margin-left: 70px;
  font-size: 13px;
}

.checkbox {
  margin-right: 7px;
  margin-left: 17px;
}

.checkbox .check_box {
  margin-right: 5px;
}

.button {
  background-color: #d6a6ae;
  color: #fff;
  box-shadow: 0 2px 6px rgba(146, 146, 146, 0.8);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  width: 80px;
}

.button:hover {
  background-color: #cf7584;
}

.form-group-profile {
  margin-top: 60px;
  margin-bottom: 40px;
}

.name-box {
  padding-top: 90px;
}

.image-box {
  padding-left: 50px;
}

.name-label {
  padding-left: 15px;
  font-weight: bold;
}

.intro-label {
  padding-left: 50px;
  font-weight: bold;
}

.btn-pri {
  margin-left: 55px;
}

.image-btn {
  margin-top: 10px;
  margin-left: 23px;
  padding: 10px;
  border-radius: 4px;
  width: 200px;
  text-align: center;
  display: block;
  background-color: #f7b3be;
  color: #fff;
  box-shadow: 0 2px 6px rgba(146, 146, 146, 0.8);
  cursor: pointer;
  float: left;
}

.img1 {
  background-image: url(/images/default_profile_icon.png?380ad47dc4dd321ddbfcf4bab38599a9);
  background-size: 270px 255px;
  width: 280px;
  height: 255px;
}

a {
  color: #fff;
}

