body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #000;
}

.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.dropdown-menu {
  background-color: #000;
}

.dropdown-menu .dropdown-item {
  background-color: #000;
  color: #fff;
}

.btn-1 {
  width: 250px;
  height: 170px;
  padding: 73px 0;
  font-size: 16px;
  margin-bottom: 15px;
}

h2 {
  margin: 10px 0 30px 0;
}

h4 {
  margin: 20px 0 10px 0;
}

.search-box1 {
  padding-right: 0;
}

.title-label {
  width: 200px;
  padding: 8px 0;
  font-weight: bold;
}

.image-boxes {
  margin-bottom: 30px;
}

.image-box1,
.image-box2,
.image-box3 {
  background-image: url(/images/lady_icon.png?2e0dc4e2d2be745f45a3a5310b00a9bf);
  background-size: 255px 255px;
  background-color: rgba(153, 153, 153, 0.801);
  width: 255px;
  height: 255px;
  margin-bottom: 0;
}

.image-box1 input[type=file],
.image-box2 input[type=file],
.image-box3 input[type=file] {
  opacity: 0;
}

.labels {
  font-weight: bold;
  padding: 5px 0;
}

.checkbox {
  margin-right: 7px;
  margin-left: 17px;
}

.check_box {
  margin-right: 5px;
}

.form-group-profile {
  margin-top: 60px;
  margin-bottom: 40px;
}

.name-box {
  padding-top: 90px;
}

.image-box {
  padding-left: 50px;
}

.name-label {
  padding-left: 15px;
  font-weight: bold;
}

.intro-label {
  padding-left: 50px;
  font-weight: bold;
}

.btn-pri {
  margin-left: 55px;
}

.image-btn {
  margin-top: 10px;
  margin-left: 23px;
  padding: 10px;
  border-radius: 4px;
  width: 200px;
  text-align: center;
  display: block;
  background-color: #f7b3be;
  color: #fff;
  box-shadow: 0 2px 6px rgba(146, 146, 146, 0.8);
  cursor: pointer;
  float: left;
}

.img1 {
  background-image: url(/images/default_profile_icon.png?380ad47dc4dd321ddbfcf4bab38599a9);
  background-size: 280px 255px;
  width: 280px;
  height: 255px;
}

