@charset "UTF-8";

body {
  color: #000;
}

.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.header .logo {
  width: 120px;
  height: 82px;
}

.headline .caption {
  position: relative;
  width: 350px;
}

.headline .caption .image img {
  width: 100%;
}

.headline .caption .title {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.headline .caption .title h1 {
  color: #fff;
  font-size: 1.2em;
}

.headline .caption .body {
  font-size: 0.8em;
}

.posts .post .date {
  font-size: 0.6em;
  color: #999999;
}

.posts .post .title {
  font-size: 1.2em;
  font-weight: bold;
}

.posts .post .body {
  font-size: 0.8em;
}

.posts .post .image img {
  width: 250px;
}

.dropdown-menu {
  background-color: #000;
}

.dropdown-menu .dropdown-item {
  background-color: #000;
  color: #fff;
}

.checkbox {
  margin-left: 30px;
  margin-top: 45px;
}

.check_box {
  margin-right: 5px;
}

.tag-label {
  background-color: #ebcccc;
  width: 200px;
  height: 40px;
  padding-top: 8px;
  font-weight: bold;
  border-bottom: transparent;
  /* 下辺を透明に */
  border-top-left-radius: 8px;
  /* 左上を角丸に */
  border-top-right-radius: 8px;
  /* 右上を角丸に */
  /* メイン表示エリアの線の太さだけ下にずらす */
  margin-bottom: -1px;
  position: relative;
  text-align: center;
}

.tag-group {
  margin-top: 50px;
}

.tag-area {
  background-color: #fff;
  width: 1050px;
  height: 150px;
  border: 1px solid #ebcccc;
}

.style-list {
  margin-top: 80px;
}

.style {
  border: 6px solid #cac6c6;
  margin: 20px;
  padding: 0 5px 40px 5px;
}

.title-label {
  width: 255px;
  text-align: center;
  padding-top: 10px;
  font-size: 15px;
}

.tag-btn {
  background-color: #f7abb8;
  color: #fff;
  box-shadow: 0 2px 6px rgba(146, 146, 146, 0.8);
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

a {
  color: #000;
}

