@charset "UTF-8";

.navbar-brand {
  color: #fff !important;
  letter-spacing: 1px;
}

.nav-link {
  color: #fff !important;
  margin-left: 4px;
}

.header .logo {
  width: 120px;
  height: 82px;
}

.headline .caption {
  position: relative;
  width: 350px;
}

.headline .caption .image img {
  width: 100%;
}

.headline .caption .title {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.headline .caption .title h1 {
  color: #fff;
  font-size: 1.2em;
}

.headline .caption .body {
  font-size: 0.8em;
}

.posts .post .date {
  font-size: 0.6em;
  color: #999999;
}

.posts .post .title {
  font-size: 1.2em;
  font-weight: bold;
}

.posts .post .body {
  font-size: 0.8em;
}

.posts .post .image img {
  width: 250px;
}

.tag-groups {
  margin-left: 25px;
}

.tag-groups .tag-group {
  margin-top: 50px;
  color: #3d2b20;
}

.tag-groups .tag-group .tag-label {
  background-color: #ebcccc;
  width: 200px;
  height: 40px;
  padding-top: 8px;
  font-weight: bold;
  border-bottom: transparent;
  /* 下辺を透明に */
  border-top-left-radius: 8px;
  /* 左上を角丸に */
  border-top-right-radius: 8px;
  /* 右上を角丸に */
  margin-bottom: -1px;
  position: relative;
  text-align: center;
}

.tag-groups .tag-group .tag-area {
  background-color: #fff;
  width: 1050px;
  height: 150px;
  border: 1px solid #ebcccc;
}

.tag-groups .tag-group .tag-area .checkbox {
  margin-left: 25px;
  margin-top: 45px;
}

.tag-groups .tag-group .tag-area .checkbox input[type=checkbox].check_box {
  display: none;
}

.tag-groups .tag-group .tag-area .checkbox input[type=checkbox].check_box + span {
  display: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 25px;
}

.tag-groups .tag-group .tag-area .checkbox input[type=checkbox].check_box + span::before {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 13px;
  height: 13px;
  margin-top: -10px;
  left: 7px;
  top: 60%;
  border: 1px solid;
  border-radius: 3px;
  border-color: #5e4333;
  background-color: #FFF;
}

.tag-groups .tag-group .tag-area .checkbox input[type=checkbox].check_box:checked + span::before {
  background-color: #3d2b20;
}

.tag-groups .tag-group .tag-area .checkbox input[type=checkbox].check_box:checked + span::after {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 9px;
  height: 5px;
  margin-top: -5px;
  top: 50%;
  left: 9px;
  transform: rotate(-45deg);
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-color: #fff;
}

.tag-groups .tag-group .tag-area .tag-btn {
  background-color: #d6a6ae;
  color: #fff;
  box-shadow: 0 2px 6px rgba(146, 146, 146, 0.8);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  width: 70px;
  margin-right: 10px;
}

.tag-groups .tag-group .tag-area .tag-btn:hover {
  background-color: #cf7584;
}

.style-list {
  margin-top: 80px;
}

.style-list .style {
  background-color: #fff;
  border: 4px solid #d6c3ba;
  margin: 20px 32px;
  padding: 0 5px 30px 5px;
}

.style-list .style .image {
  margin-top: 18px;
}

.style-list .style .title-label {
  width: 255px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  font-size: 15px;
  color: #3d2b20;
}

.style-list .more-btn {
  background-color: #d6a6ae;
  color: #fff;
  box-shadow: 0 2px 6px rgba(146, 146, 146, 0.8);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  width: 100px;
}

.style-list .more-btn:hover {
  background-color: #cf7584;
}

.detail-box {
  margin-top: 80px;
  color: #3d2b20;
}

.detail-box .image-box {
  background-color: #fff;
  border: 5px solid #d6c3ba;
  margin: 20px auto;
  padding: 0 23px 15px 23px;
  height: auto;
  width: 720px;
}

.detail-box .image-box .carousel .carousel-item img {
  width: 500px;
  height: 550px;
  margin-top: 50px;
  padding: 0 25px 0 25px;
}

.detail-box .image-box .carousel .carousel-control-prev {
  width: 3.8%;
  height: 550px;
  margin-top: 50px;
  background-color: #c0aea5;
}

.detail-box .image-box .carousel .carousel-control-next {
  width: 3.7%;
  height: 550px;
  margin-top: 50px;
  background-color: #c0aea5;
}

.detail-box .image-box .title-box {
  margin: 25px 0 10px 0;
  padding: 0;
}

.detail-box .image-box .title-box .title-text {
  width: 630px;
  font-size: 20px;
  font-weight: bold;
}

.detail-box .image-box .caption-box {
  margin: 10px 0 10px 0;
  padding: 0;
}

.detail-box .image-box .caption-box .caption-text {
  width: 630px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
}

.detail-box .image-box .desc-box {
  margin: 20px 0 40px 0;
  padding: 0;
}

.detail-box .image-box .desc-box .desc-text {
  width: 630px;
  margin-left: 5px;
  font-size: 15px;
}

.detail-box .image-box .tpo-box {
  margin-bottom: 20px;
  padding: 0;
}

.detail-box .image-box .tpo-box .tpo-label {
  background-color: #ebcccc;
  width: 140px;
  padding-top: 7px;
  font-weight: bold;
  font-size: 13px;
  border-bottom: transparent;
  /* 下辺を透明に */
  border-top-left-radius: 8px;
  /* 左上を角丸に */
  border-top-right-radius: 8px;
  /* 右上を角丸に */
  margin-bottom: -16px;
  margin-left: 5px;
  position: relative;
  text-align: center;
}

.detail-box .image-box .tpo-box .tag-box {
  border: 1px solid #ebcccc;
  width: 630px;
  height: 70px;
  text-align: left;
  font-size: 14px;
  margin: 0 0 0 5px;
}

.detail-box .image-box .tpo-box .tag-box .tag-name {
  padding-right: 0;
  margin: 7px 0 5px 17px;
}

.detail-box .image-box .user-boxes {
  margin-top: 25px;
  padding: 0;
}

.detail-box .image-box .user-boxes .user-label {
  background-color: #ebcccc;
  width: 80px;
  padding-top: 5px;
  font-weight: bold;
  font-size: 12.5px;
  border-bottom: transparent;
  /* 下辺を透明に */
  border-top-left-radius: 8px;
  /* 左上を角丸に */
  border-top-right-radius: 8px;
  /* 右上を角丸に */
  margin-bottom: -16px;
  margin-left: 5px;
  position: relative;
  text-align: center;
}

.detail-box .image-box .user-boxes .user-box {
  border: 1px solid #ebcccc;
  width: 250px;
  height: 80px;
  text-align: left;
  font-size: 14px;
  margin: 0 0 0 5px;
}

.detail-box .image-box .user-boxes .user-box img {
  background-image: url(/images/default_profile_icon.png);
  background-size: 60px 60px;
  background-color: rgba(153, 153, 153, 0.801);
  background-position: center;
  background-size: contain;
  width: 60px;
  height: 60px;
  margin: 10px 10px 0 0;
  border-radius: 15px;
  border: 3px solid #d8c0b4;
}

.detail-box .image-box .user-boxes .user-box .name-text {
  margin-left: 5px;
  margin-top: 30px;
  font-size: 14px;
}

.detail-box .image-box .updated-box {
  margin-top: 10px;
  padding: 0;
}

.detail-box .image-box .updated-box .updated-text {
  width: 630px;
  text-align: right;
  font-size: 13px;
}

